.Rproj.user
.Rhistory
.RData

# RStudio
SEFS9_Geneva.Rproj
sefs9_Rworkshop.Rproj

# misc
*.html
.*~lock.*

# beamer
*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.tex
*.vrb
# dirs
*cache
*concordance.tex
*figure

# Libreoffice
*.odp
